doctype html
html
    head
        title Editar
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/feed.css')
        style html, body, h1, h2, h3, h4, h5, h6 {font-family: "Roboto", sans-serif}

        script(src='/javascripts/jquery-3.2.1.js')

    body(onload="seletor('"+valores.tipo+"'),privador('"+valores.privado+"')" id="body")
        // The Grid
        div(class="w3-row-padding")
            form(class="w3-container" action="/editarCultural" method="post" enctype="multipart/form-data" id="forms")
                p
                input(type="hidden" id="_id" name="_id" value=valores._id readonly="readonly")
                p
                div(id="removidos")
                p
                label(class="w3-text-grey")
                    p *Título
                    input(class="w3-input w3-border" type="text" id="titulo" name="titulo" value=valores.titulo)
                p
                label(class="w3-text-grey")
                    p *Descrição
                    input(class="w3-input w3-border" type="text" id="descricao" name="descricao" value=valores.descricao)
                p
                label(class="w3-text-grey")
                    p Local
                    input(class="w3-input w3-border" type="text" id="local" name="local" value=valores.local)
                p
                label(class="w3-text-grey")
                    p Tipo
                    select(class="w3-input w3-border" id="tipo" name="tipo")
                        option(name="cinema" id="cinema" value="Cinema")
                            p Cinema
                        option(name="musica" id="musica" value="Musica")
                            p Musica
                        option(name="teatro" id="teatro" value="Teatro")
                            p Teatro
                        option(name="historia" id="historia" value="Historia")
                            p Historia
                        option(name="pintura" id="pintura" value="Pintura")
                            p Pintura
                        option(name="arte" id="arte" value="Arte")
                            p Arte
                        option(name="outros" id="outros" value="Outros")
                            p Outros
                if valores.fotografias
                    - var i=0
                    div(id="fotografias")
                        each foto in valores.fotografias
                            - i++
                            div(id="fotog"+i)
                                p
                                figure(class="myfigure")
                                    img(class="joint-img" id="img"+ i name="img1" src="/images/upload/"+foto alt="your image")
                                    figcaption
                                        label(class="custom-file-upload")
                                            input(class="joint" type='file' id="foto" + i name="foto" + i accept="images/upload/*" onchange="readURL('img"+i+"', 'namefoto"+i+"', this)")
                                            p Mudar Imagem
                                input(type="hidden" class="namefoto" id="namefoto" + i name="namefoto" + i value=foto readonly="readonly")
                                input(type="button" class="remover" onclick="removeImg('img"+i+"','namefoto"+i+"','fotog"+i+"')" id="remove" value="Remover Imagem")
                p
                input(type="button" class="w3-btn w3-teal" onclick="addfile()" value="Adicionar Fotografia")
                p
                label(class="w3-text-grey")
                p Privado
                    input(class="w3-check w3-text-white" type="checkbox" id="privado" name="privado" placeholder="Privado")
                p(class="w3-text-white")
                    input(class="w3-btn w3-teal w3-round" type="submit" value="Guardar Altrações")
        center
            a(class="w3-button w3-large w3-theme-d4 w3-center" href="/feed" title="voltar")
                i(class="fa fa-home")
                | Voltar
            br
            // End Left Column
            // End Grid
        // End Page Container
        footer(class="w3-container w3-centered w3-teal w3-center w3-margin-top")


        script.
            function seletor(tipo) {

                if(tipo === "Cinema"){
                    document.getElementById("tipo").options[0].selected = true
                }
                else if(tipo === "Musica"){
                    document.getElementById("tipo").options[1].selected = true
                }
                else if (tipo === "Teatro") {
                    document.getElementById("tipo").options[2].selected = true
                }
                else if (tipo === "Historia") {
                    document.getElementById("tipo").options[3].selected = true
                }
                else if (tipo === "Pintura") {
                    document.getElementById("tipo").options[4].selected = true
                }
                else if (tipo === "Arte"){
                    document.getElementById("tipo").options[5].selected = true
                }
                else{
                    document.getElementById("tipo").options[6].selected = true
                }
            }
            function privador(privado) {
                
                if(privado === 'true'){
                    document.getElementById("privado").checked = true
                }
                else{
                    document.getElementById("privado").checked = false
                }
            }
            function readURL(input1, input2, input3) {

                if (input3.files && input3.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#'+input1).attr('src', e.target.result);
                        listRem(input2)
                        $('#'+input2).attr('value',"")
                    }

                reader.readAsDataURL(input3.files[0]);
                }
            }
            function removeImg(input1, input2, input3) {

                var numFiles = $('#fotografias').children().length

                if(numFiles <= 1){
                    $('#'+input1).attr('src', "/images/addimg.png")
                    listRem(input2)
                    $('#'+input2).attr('value',"")
                }
                else{
                    listRem(input2)

                    $('#'+input3).remove()
                    //renomear()
                }
            }
            function listRem(idname) {

                var numFiles = $('#removidos').children().length + 1

                var valor = $('#'+ idname).val()

                if(valor != ""){
                    $('#removidos').append(`<input type="hidden" id="removido` + numFiles + `" name="removido` + numFiles + `" value=` + valor + ` readonly="readonly"/>`)
                }

            }
            function addfile() {

                var numFiles = $('#fotografias').children().length +1
                if (numFiles > 6) {
                    alert("Impossível adicionar, é impossível carregar mais que 6 ficheiros!!");
                }
                else {
                    var nomeador = "fotog" + numFiles
                    var nomeador2= "img" + numFiles
                    var nomeador3 = "foto" + numFiles
                    var nomeador4 = "namefoto" + numFiles
                    $("#fotografias").append(`
                    <div id="`+nomeador+`">
                        <p></p>
                        <figure class = "myfigure">
                        <img class = "joint-img" id="`+ nomeador2 + `" name="`+ nomeador2 +`" src="/images/addimg.png" alt="your image"/>
                        <figcaption >
                            <label class = "custom-file-upload" >
                                <input class= "joint" type="file" id="`+nomeador3+`" name ="`+nomeador3+`" accept = "images/upload/*" onchange="readURL('`+ nomeador2+ `', '`+ nomeador4 +`', this)" />
                                <p> Mudar Imagem </p>
                            </label>
                        </figcaption>
                        </figure>
                        <input type = "hidden" id ="`+ nomeador4 +`" name ="`+ nomeador4 +`" value ="" readonly = "readonly" />
                        <input type = "button" class="remover" onclick="removeImg('`+ nomeador2 +`','` + nomeador4 + `','` + nomeador3 + `') id="remove" value="Remover Imagem" />
                    </div>`)
                }
            }
