doctype html
html
    head
        title Editar
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/feed.css')
        style html, body, h1, h2, h3, h4, h5, h6 {font-family: "Roboto", sans-serif}

        script(src='/javascripts/jquery-3.2.1.js')

    body(onload="seletor('"+valores.tipo+"'),privador('"+valores.privado+"')" id="body")
        // The Grid
        div(class="w3-row-padding")
            form(class="w3-container" action="/editarAlbDsp" method="post" enctype="multipart/form-data" id="forms")
                p
                input(type="hidden" id="_id" name="_id" value=valores._id readonly="readonly")
                p
                div(id="removidos")
                p
                label(class="w3-text-grey")
                    p *Título
                    input(class="w3-input w3-border" type="text" id="titulo" name="titulo" value=valores.titulo)
                p
                label(class="w3-text-grey")
                    p *Descrição
                    input(class="w3-input w3-border" type="text" id="descricao" name="descricao" value=valores.descricao)
                p
                if valores.fotografias
                    - var i=0
                    div(id="fotografias")
                        each foto in valores.fotografias
                            - i++
                            div(id="fotog"+i class="fotoContainer")
                                p
                                figure(class="myfigure")
                                    img(class="joint-img" id="img"+ i name="img1" src="/images/upload/"+foto.nome alt="your image")
                                    figcaption
                                        label(class="custom-file-upload")
                                            input(class="joint" type='file' id="foto" + i name="foto" + i accept="images/upload/*" onchange="readURL('img"+i+"', 'namefoto"+i+"', this)")
                                            p Mudar Imagem
                                input(type="hidden" class="namefoto" id="namefoto" + i name="namefoto" + i value=foto readonly="readonly")
                                p Descrição
                                input(type="text" class="descricao" id="foto" + i + "descricao" name="foto" + i + "descricao" value=foto.descricao )
                                p Acompanhantes
                                div(id= "foto" + i +"opcoes")
                                    - var j=0
                                    each pessoa in foto.pessoas
                                        - j++
                                        input(class="w3-input w3-border" type="text" id="foto"+ i +"opcao" + j name="foto"+ i +"opcao" + j value=pessoa)
                                input(type="button" onclick="addop('foto"+ i +"')" value="Adicionar")
                                input(type="button" onclick="rmop('foto"+ i +"')" value="Remover")
                                input(type="button" class="remover" onclick="removeImg('img"+i+"','namefoto"+i+"','foto"+i+"','fotog"+i+"')" id="remove" value="Remover Imagem")
                p
                input(type="button" class="w3-btn w3-teal" onclick="addFoto()" value="Adicionar Fotografia")
                p
                label(class="w3-text-grey")
                p Privado
                    input(class="w3-check w3-text-white" type="checkbox" id="privado" name="privado" placeholder="Privado")
                p(class="w3-text-white")
                    input(class="w3-btn w3-teal w3-round" type="submit" value="Guardar Altrações")
        center
            a(class="w3-button w3-large w3-theme-d4 w3-center" href="/feed" title="voltar")
                i(class="fa fa-home")
                | Voltar
            br
            // End Left Column
            // End Grid
        // End Page Container
        footer(class="w3-container w3-centered w3-teal w3-center w3-margin-top")


        script.
            function privador(privado) {

                if(privado === 'true'){
                    document.getElementById("privado").checked = true
                }
                else{
                    document.getElementById("privado").checked = false
                }
            }
            function readURL(input1, input2, input3) {

                if (input3.files && input3.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#'+input1).attr('src', e.target.result);
                        listRem(input2)
                        $('#'+input2).attr('value',"")
                    }

                    reader.readAsDataURL(input3.files[0]);
                }
            }
            function removeImg(input1, input2, input3, input4) {

                var numFiles = $('#fotografias').children().length

                if(numFiles <= 1){
                    $('#'+input1).attr('src', "/images/addimg.png")
                    listRem(input2)
                    $('#'+input2).attr('value',"")
                    $('#'+input3+"descricao").attr('value',"")
                    var numOps = $('#' + input3 + 'opcoes').children().length
                    for (y=numOps; y>0; y--){

                        rmop(input3)
                    }
                    $('#'+input3+"opcao1").attr('value',"")
                }
                else{
                    listRem(input2)

                    $('#'+input4).remove()
                    //renomear()
                }
            }
            function listRem(idname) {

                var numFiles = $('#removidos').children().length + 1

                var valor = $('#'+ idname).val()

                if(valor != ""){
                    $('#removidos').append(`<input type="hidden" id="removido` + numFiles + `" name="removido` + numFiles + `" value=` + valor + ` readonly="readonly"/>`)
                }

            }
            function addop(node) {
                var numOps = $('#' + node + 'opcoes').children().length + 1
                if (numOps > 15) {
                    alert("Impossível Aadicionar, é impossível carregar mais que 15 opções!!");
                }
                else {
                    var nomeador = node + "opcao" + numOps
                    var selector = '#' + node + 'opcoes'
                    $(selector).append("<input type='text' name='" + nomeador + "' id='" + nomeador + "' class='w3-input w3-border'/>")
                }
            }
            function rmop(node) {
                var numOps = $('#' + node + 'opcoes').children().length
                if (numOps <= 1) {
                }
                else{
                    var nomeador = "#" + node + 'opcoes'

                    $(nomeador).children().last().remove()
                }
            }
            function addFoto() {
                var numFotos = $("#fotografias").length + 15
                if (numFotos > 29) {
                    alert("Impossivel Adicionar, é impossivel carregar mais que 15 fotos!!");
                }
                else {
                    var nomeador = "fotog" + numFotos
                    var nomeador2 = "img" + numFotos
                    var nomeador3 = "foto" + numFotos
                    var nomeador4 = "namefoto" + numFotos
                    $('#fotografias').append(`
                            <div id="`+nomeador+`" class="fotoContainer">
                            <p></p>
                            <figure class = "myfigure">
                            <img class = "joint-img" id="`+ nomeador2 + `" name="`+ nomeador2 +`" src="/images/addimg.png" alt="your image"/>
                            <figcaption >
                            <label class = "custom-file-upload" >
                            <input class= "joint" type="file" id="`+nomeador3+`" name ="`+nomeador3+`" accept = "images/upload/*" onchange="readURL('`+ nomeador2+ `', '`+ nomeador4 +`', this)" />
                            <p> Mudar Imagem </p>
                            </label>
                            </figcaption>
                            </figure>
                            <input type = "hidden" id ="`+ nomeador4 +`" name ="`+ nomeador4 +`" value ="" readonly = "readonly" />
                            <label class="w3-text-grey">Descricao</label>
                            <input type="text" id="`+nomeador3 + `descricao" name="`+nomeador3 + `descricao">
                            <label class="w3-text-grey">Acompanhantes</label>
                            <div id="`+nomeador3+`opcoes">
                            <input class="w3-input w3-border" type="text" id="`+ nomeador3 + `opcao1" name="`+nomeador3+`opcao1" accept=".jpg, .jpeg, .png"/>
                            </div>
                            <input type="button" onclick="addop('`+nomeador3+`')" value="Adicionar"/>
                            <input type="button" onclick="rmop('`+nomeador3+`')" value="Remover"/>
                            <input type = "button" class="remover" onclick="removeImg('`+ nomeador2 +`','` + nomeador4 +`','` + nomeador3 +  `','` + nomeador + `')" id="remove" value="Remover Imagem" />

                            </p>
                            </div>`)
                }
            }
