doctype html
html
  head
    title Eu Digital
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel="stylesheet" href="/stylesheets/feed.css")
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-theme-blue-grey.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(type='text/javascript' src='/javascripts/forms.js')
    script(src='/javascripts/jquery-3.2.1.js')
    script(src="/javascripts/share.min.js")
    style html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
  body(class="w3-theme-l5")
    // Navbar 
    div(class="w3-top")
      div(class="w3-bar w3-theme-d2 w3-left-align w3-large")
        a(class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" onclick="openNav()")
          i(class="fa fa-bars")
        a(class="w3-bar-item w3-button w3-padding-large w3-theme-d4" href="/feed")
          i(class="fa fa-home w3-margin-right")
          |Eu digital
        a(class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="/perfil" title="Account Settings")
          i(class="fa fa-user")
          |    Perfil
        a(class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="/feedPublico" title="Outras Publicações")
          i(class="fa fa-globe")
          |    Outras Publicações
        a(class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-right w3-hover-white" href="/logout" title="Account Settings") Logout
        //-a(class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" href="/logout")
          img(class="w3-circle" style="height:25px;width:25px" alt="Logout")
    // Navbar on small screens 
    div(id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large")
      a(class="w3-bar-item w3-button w3-padding-large" href="/feed") Eu Digital
      a(class="w3-bar-item w3-button w3-padding-large" href="/perfil") Perfil
      a(class="w3-bar-item w3-button w3-padding-large" href="/logout") Logout
    // Page Container 
    div(class="w3-container w3-content" style="max-width:1400px;margin-top:80px")
      // The Grid 
      div(class="w3-row")
        // Left Column 
        div(class="w3-col m3")
          // Profile 
          div(class="w3-card w3-round w3-white")
            div(class="w3-container")
              h4(class="w3-center")= user.username
              p(class="w3-center")
                if user.foto==undefined
                  img(class="w3-circle" src="/images/avatar.png" height="106" width="106" )                  
                else
                  img(class="w3-circle" src="/images/upload/"+user.foto height="106" width="106")
              hr
              p
                i(class="fa fa-envelope w3-text-theme")="   "+ user.email
              p
                i(class="fa fa-birthday-cake w3-text-theme")="   "+user.idade + " anos"
              p
                i(class="fa fa-address-card w3-text-theme")="   "+user.pnome +" "+ user.unome
          br
          // End Left Column 
        // Middle Column 
        div(class="w3-col m7")
          div(class="w3-row-padding")
            div(class="w3-col m12")
              div(class="w3-card w3-round w3-white")
                div(class="w3-container w3-padding")
                  p(class="w3-text-grey")   
                  center
                    h1(class="w3-text-green") Feed Público  
                  div(class="w3-container" id="divOps")
                center
                  h3(class="w3-text-red")=status
          if eventos!=undefined
            div(class="w3-container w3-center")
              button(class="w3-btn w3-teal" onclick='showAllAct()' id="colapseAct" ) Expandir Atividades  
            -var count=1
            each evento in eventos
              -var idDiv="act"+count
              div(class="w3-container w3-teal w3-margin-left w3-margin-right w3-margin-top")
                table(style="width:100%")
                  tr
                    td(style="width:80%")
                      button(class="w3-button" onclick="showAct('"+ idDiv +"')")=evento.tipoEvento+"  : "+( (evento.titulo.length>30)?(evento.titulo.substring(0,30)+"..."):evento.titulo)
                    if evento.user==user.username
                      td
                        button(class="w3-button" onclick="editarEvento('"+evento.tipoEvento+"','"+evento._id+"')") Editar
                      td
                        button(class="w3-button" onclick="eliminarEvento('"+evento.tipoEvento+"','"+evento._id+"')") Eliminar
                    else
                      td(class="w3-right")
                        h6(class="w3-text w3-right")="User:  "+evento.user
              div(class="w3-container w3-card w3-hide w3-white w3-round w3-margin-left w3-margin-right" id=idDiv)
                if evento.tipoEvento=="Atividade Desportiva"
                    h4="Título: "+evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    label(class="w3-text-grey") Duração
                    p=evento.duracao
                    label(class="w3-text-grey") Desporto
                    p=evento.desporto
                    if evento.fotografia
                      label(class="w3-text-grey") Fotografia
                          div(class="w3-row-padding w3-margin-top")
                            div(class="w3-card w3-half")
                              img(src="/images/upload/"+evento.fotografia style="width:100%")
                    div(class="w3-container w3-blue-light")
                        h2 Comentários :

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                          form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                              input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                              input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                              font(face="arial" size="3" color="#0057AE")
                                  b Comente aqui:
                              br
                              textarea(name="comentario" id="comentario" style="width:100%")
                              br
                              input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Trabalho Académico"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    label(class="w3-text-grey") UC
                    p=evento.uc
                    if evento.docente
                    label(class="w3-text-grey") Docente
                      p=evento.docente
                    if evento.ficheiros
                    label(class="w3-text-grey") Ficheiros
                        each ficheiro in evento.ficheiros
                          a(href="/images/upload/"+ ficheiro)
                              p=ficheiro
                    p=evento.resultado
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento=="Cultural"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    label(class="w3-text-grey") Tipo
                    p=evento.tipo
                    
                    if evento.fotografias
                      label(class="w3-text-grey") Fotografias
                      div(class="w3-row-padding w3-margin-top")
                        each fotografia in evento.fotografias
                          div(class="w3-third")
                            div(class="w3-card")
                              img(src="/images/upload/"+fotografia style="width:100%")
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Ideia"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Pensamento"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Cronica"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    if evento.ficheiros
                    label(class="w3-text-grey") Ficheiros
                        each ficheiro in evento.ficheiros
                          a(href = "/images/upload/" + ficheiro)
                              p=ficheiro
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Receita Culinária"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    if evento.ingredientes
                    label(class="w3-text-grey") Ingredientes
                      each ingrediente in evento.ingredientes
                          p(class="w3-text-black")=ingrediente
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Evento"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Transação Monetária"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    label(class="w3-text-grey") Tipo
                        p=evento.tipo
                    label(class="w3-text-grey") Montante
                    p=evento.montante
                    label(class="w3-text-grey") Interveniente
                    p=evento.interveniente
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Álbum Fotográfico"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data
                    p=evento.data
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    if evento.fotografias
                      label(class="w3-text-grey") Fotografias
                      each fotografia in evento.fotografias
                        div(class="w3-row-padding w3-margin-top")
                          div(class="w3-card w3-half")
                            img(src="/images/upload/" + fotografia.nome style="width:100%")
                        if fotografia.descricao
                          label(class="w3-text-grey") Descrição 
                          p=fotografia.descricao
                        if fotografia.local
                          label(class="w3-text-grey") Local    
                          p=fotografia.local
                        if fotografia.pessoas
                          label(class="w3-text-grey") Pessoas
                          each pessoa in fotografia.pessoas
                            p=pessoa
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
                else if evento.tipoEvento == "Viagem"
                    h4="Título: " + evento.titulo
                    label(class="w3-text-grey") Descrição
                    p=evento.descricao
                    label(class="w3-text-grey") Data Início
                    p=evento.datainicio
                    label(class="w3-text-grey") Data Fim
                    p=evento.datafim
                    if evento.local
                        label(class="w3-text-grey") Local
                        p=evento.local
                    if evento.user==user.username
                      label(class="w3-text-grey") Privado
                      p=evento.privado
                    if evento.acompanhantes
                      label(class="w3-text-grey") Acompanhantes
                      each pessoa in evento.acompanhantes
                          p=pessoa
                    if evento.fotografias
                      each foto in evento.fotografias
                        div(class="w3-row-padding w3-margin-top")
                        each foto in evento.fotografias
                          img(src="/images/upload/"+foto style="width:30%")
                    div(class="w3-container w3-blue-light")
                        h1 Comentarios

                    div(class="w3-container")
                        if evento.comentarios
                            each comentario in evento.comentarios
                                table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                                    td
                                        p=comentario
                    div(class="w3-container w3-blue-light")
                        p
                    table(class="w3-panel w3-border w3-light-grey w3-round-large" style="width:100%")
                        td
                            form(class="w3-container" action="/comentario" method="post" enctype="multipart/form-data")
                                input(type="hidden" name="_id" value=evento._id onlyread="onlyread")
                                input(type="hidden" name="tipo" value=evento.tipoEvento onlyread="onlyread")
                                font(face="arial" size="3" color="#0057AE")
                                    b Comente aqui:
                                br
                                textarea(name="comentario" id="comentario" style="width:100%")
                                br
                                input(type="submit" value="Comentar")
              -count++
          else
            div(class="w3-container")
              h1 Nao existem eventos!
          // End Middle Column 
        // Right Column 
        div(class="w3-col m2")
          div(class="w3-white")
            button(class="w3-button w3-theme-l1" style="width:100%" onclick="myFunction('Demo1')")
              i(class="fa fa-search fa-fw ")
              |Pesquisa feed público
            div(id="Demo1" class="w3-hide w3-container")
              form(class="w3-container" action="/pesquisarCatPub" method="post" enctype="multipart/form-data")
                p
                select(style="width:100%" name="pesquisa" id="tipoEvento")
                    option(selected disabled) Tipo de Evento
                    each x in OpTipos
                      option= x
                p
                input(style="width:100%" type="text" name="key" pattern="#[a-zA-Z0-9]+" placeholder="hashtag")
                p
                input(type="submit" class="w3-btn w3-teal w3-round" value="Pesquisar")  
              
              
            div(id="Demo3" class="w3-hide w3-container")
              div(class="w3-row-padding")
                br
                div(class="w3-half")
                  img(class="w3-margin-bottom" src="/w3images/lights.jpg" style="width:100%")
                div(class="w3-half")
                  img(class="w3-margin-bottom" src="/w3images/nature.jpg" style="width:100%")
                div(class="w3-half")
                  img(class="w3-margin-bottom" src="/w3images/mountains.jpg" style="width:100%")
                div(class="w3-half")
                  img(class="w3-margin-bottom" src="/w3images/forest.jpg" style="width:100%")
                div(class="w3-half")
                  img(class="w3-margin-bottom" src="/w3images/nature.jpg" style="width:100%")
                div(class="w3-half")
                  img(class="w3-margin-bottom" src="/w3images/fjords.jpg" style="width:100%")
      
          br

          // End Right Column 
        // End Grid 
      // End Page Container 
    br
    // Footer 
    footer(class="w3-container w3-theme-d3 w3-padding-16")

    footer(class="w3-container w3-theme-d5")
      p
        
        
    script.
      var aberto=false
      function myFunction(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
              x.previousElementSibling.className += " w3-theme-d1";
          } else { 
              x.className = x.className.replace("w3-show", "");
              x.previousElementSibling.className = x.previousElementSibling.className.replace(" w3-theme-d1", "");
          }
      }
      // Used to toggle the menu on smaller screens when clicking on the menu button
      function openNav() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else { 
              x.className = x.className.replace(" w3-show", "");
          }
      }
      function setIframe(obj) {
        obj.style.height = obj.scrollHeight + 'px';
       
      }
      function showAct(id){
        var x = document.getElementById(id);
        if(x.className.indexOf("w3-hide")>=0) 
         x.className = x.className.replace("w3-hide","w3-show");
         else
           x.className = x.className.replace("w3-show","w3-hide");
  
      }
      function showAllAct(){ 
        $('div[id^=act]').each(function(barra) {
            if(aberto){
              if(this.className.indexOf("w3-hide")==-1){
                 this.className = this.className.replace("w3-show","w3-hide"); 
              }
            }
            else{
              if(this.className.indexOf("w3-hide")>=0){
                 this.className = this.className.replace("w3-hide","w3-show"); 
              }
            }
          })
          if(aberto) $("#colapseAct").text("Expandir Atividades")
          else
          $("#colapseAct").text("Esconder Atividades")
          aberto=((aberto)?false:true);
      }
      function apresentaForm(){
        //setIframe(document.getElementById("divOps"))
        var x = document.getElementById("tipoEvento").options[document.getElementById("tipoEvento").selectedIndex].text

        if(x === "Cultural"){
            document.getElementById("divOps").innerHTML = ""
            aCultural()
        }
        if(x === "Ideia"){
            document.getElementById("divOps").innerHTML = ""
            aIdeia()
        }
        if (x === "Trabalho Academico") {
            document.getElementById("divOps").innerHTML = ""
            trabalhoAcademico()
        }
        if(x === "Atividade Desportiva"){
            document.getElementById("divOps").innerHTML = ""
            atividadeDesportiva()
        }
        if(x === "Pensamento"){
            document.getElementById("divOps").innerHTML = ""
            aPensamento()
        }
        if (x === "Cronica") {
            document.getElementById("divOps").innerHTML = ""
            aCronica()
        }
        if (x === "Receita Culinaria") {
            document.getElementById("divOps").innerHTML = ""
            receitaCulinaria()
        }
        if (x === "Evento") {
            document.getElementById("divOps").innerHTML = ""
            aEvento()
        }
        if (x === "Transação Monetária") {
            document.getElementById("divOps").innerHTML = ""
            transacaoMonetaria()
        }
        if (x === "Álbum Fotográfico") {
            document.getElementById("divOps").innerHTML = ""
            albumFotografico()
        }
        if (x === "Viagem") {
            document.getElementById("divOps").innerHTML = ""
            aViagem()
        }
      }

      function eliminarEvento(tipo,id){
        if(confirm("Tem a certeza que pretende eliminar este evento?")){
          window.location.replace("/eliminar/"+tipo+"/"+id)
        }
      }
      function editarEvento(tipo, id) {
          if (confirm("Tem a certeza que pretende editar este evento?")) {
              window.location.replace("/editar/" + tipo + "/" + id)
          }
      }
      